altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
gitdb
GitPython
gunicorn
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafemdurl
mdurl
numpy
packaging
pandas
pillow
protobuf
pyarrow
pydeck
Pygments
python-dateutil
pytz
referencing
requests
rich
rpds-py
scikit-learn
scipy
six
smmap
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
watchdog==4.0.1
